<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/village/recipe/">recipe list</a>

<form action="/village/recipe/detail/insert/" method="POST">
    <input type="hidden" name="id" value="{{ send_data[0] }}">
    名前
    <p><input type="text" name="name" size="50" minlength="3" maxlength="1000" ></p>
    個数
    <p><input type="number" name="count" size="50" minlength="3" maxlength="1000" ></p>

    <p><input class="button" type="submit" value="追加"></p>
</form>

<form action="/village/recipe/delete/" method="POST">
    <input type="hidden" name="id" value="{{ send_data[0] }}">
    <p><input class="button" type="submit" value="削除"></p>
</form>

{% for list in send_data[1]%}
    {{ list }}
    <form action="/village/recipe/detail/delete/" method="POST">
    <p><input type="hidden" name="id" value="{{ list[0] }}" ></p>
    <p><input class="button" type="submit" value="削除"></p>
</form>
{% endfor %}
</body>
</html>