<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
</head>
<style>
*{
  margin: 0;
  padding: 0;
}
body{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: 'Redressed', cursive;

}
.title{
  display: inline-flex;
  height:80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.links {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    font-size: 30px;
}
</style>
<body>
<div class="title">
    MOTOMURA
</div>
<div class="links">
    <a href="/village/bought/">bought</a>
    <a href="/village/recipe/">recipe</a>
    <a href="/village/item/">item</a>
</div>
</body>
</html>