<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/village/bought/">input data</a>

<form action="/village/recipe/insert/" method="POST">
    名前
    <p><input type="text" name="name" required></p>
    ジャンル1
    <select name="genre1">
        <option size="3" value="1"> 和食 </option>
        <option size="3" value="2"> 洋食 </option>
        <option size="3" value="3"> 中華 </option>
    </select>
    ジャンル2
    <select name="genre2">
        <option size="3" value="1"> 魚介系 </option>
        <option size="3" value="2"> 肉系 </option>
        <option size="3" value="3"> ご飯もの </option>
        <option size="3" value="4"> 麺系 </option>
    </select>

    <p><input class="button" type="submit" value="追加"></p>
</form>

{% for list in recipe_list %}
    {{ list }}
    <p><a href="/village/recipe/detail/{{ list[0] }}/">詳細</a></p>
</form>
{% endfor %}
</body>
</html>