<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>village</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<script>

    function change_data() {
        let genre1 = $(".genre1").val();
        let genre2 = $(".genre2").val();
        console.log(genre1);
        console.log(genre2);
        $.ajax({
            url:"/village/recipe_check/",
            type:"POST",
            data:{
                genre1:genre1,
                genre2:genre2
            }

        }).done(function(data){
            console.log(data);
            $(".child").empty();
            for(let i=0;i<data.length;i++){
                $(".child").append(data[i].join(","));
                $(".child").append("<br>");
            }
        }).fail(function(data){
            alert("error");
        });
    }
    window.onload = function () {
        $(".item").on("click", function(){
                let target = $(this).children();
                $(".item_id").val($(target[0]).val());
                $(".item_name").val($(target[1]).text());
            }
        );
    }

</script>
<body>
<a href="/village/recipe/">recipe</a>
{% for list in lists[1] %}
    <div class="item">
        <input type="hidden" class="id" value="{{ list[0] }}">
        <span>{{ list[1] }}</span>
    </div>
{% endfor %}
<form action="/village/bought/insert/" method="POST">
    名前
    <p><input class="item_name" type="text" name="name" size="50" required></p>
    <p><input class="item_id" type="hidden" name="item_id" size="50" required></p>
    数量
    <p><input type="number" name="count" size="50" required></p>
    賞味期限
    <p><input type="date" name="date" size="50" required></p>
    <p><input class="button" type="submit" value="追加"></p>
</form>

{% for list in lists[0] %}
    {{ list }}
    <form action="/village/bought/delete/" method="POST">
    <p><input type="hidden" name="id" value="{{ list[0] }}" ></p>
    <p><input class="button" type="submit" value="取り消し"></p>
</form>
{% endfor %}

ジャンル1
<select class="genre1">
    <option size="3" value="1"> 和食 </option>
    <option size="3" value="2"> 洋食 </option>
    <option size="3" value="3"> 中華 </option>
</select>
ジャンル2
<select class="genre2">
    <option size="3" value="1"> 魚介系 </option>
    <option size="3" value="2"> 肉系 </option>
    <option size="3" value="3"> ご飯もの </option>
    <option size="3" value="4"> 麺系 </option>
</select>
<input type="button" value="変更" onclick="change_data();">

<div class="child">
    empty
</div>
</body>
</html>